@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack/lifehack-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu/ubuntu-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu/ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu/ubuntu-medium.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular/gagalin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 15px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  box-sizing: border-box; }

body, html {
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: 0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  height: 100%; }

.maincontent {
  height: 100%;
  transition: transform;
  will-change: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
  @media screen and (max-width: 768px) {
    .maincontent {
      min-height: 1025px; } }
  @media screen and (max-width: 480px) {
    .maincontent {
      min-height: 520px; } }

.container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 940px;
  width: 92%; }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 480px; } }

.section {
  min-height: 650px;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 1025px; } }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 520px; } }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  border: none;
  cursor: pointer; }
  .order-link:hover {
    background-color: #ce401a; }
  .order-link:focus {
    outline: none; }

.hero {
  background: url("../img/bg/1_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header {
      padding-top: 0.3125rem; } }
  @media screen and (max-width: 480px) {
    .header {
      justify-content: flex-start; } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px; }
  @media screen and (max-width: 768px) {
    .hero__container {
      padding-top: 0; } }
  @media screen and (max-width: 480px) {
    .hero__container {
      justify-content: flex-start; } }

.header__logo {
  margin-right: auto;
  z-index: 300; }

.header__nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .header__nav {
      display: none; } }

.header__list {
  margin: 0;
  padding: 0; }

.header__item {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle; }
  .header__item:after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background: white;
    margin: 0.875rem; }
  .header__item:last-child:after {
    display: none; }

.header__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s; }
  .header__link:hover {
    text-decoration: underline; }

.header__item:hover .header__link {
  text-decoration: underline; }

.header__menu-link {
  display: none; }
  @media screen and (max-width: 768px) {
    .header__menu-link {
      display: block;
      background: url("../img/icons/small_menu.png") center center no-repeat;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-left: 30px; } }

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: -6.875rem; }
  @media screen and (max-width: 768px) {
    .hero__content {
      flex-direction: column;
      margin-top: -6.875rem;
      padding: 0 80px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .hero__content {
      margin-top: 0rem; } }

.hero__img {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .hero__img {
      margin: 0;
      text-align: center; } }

.hero__img-pic {
  width: 450px; }
  @media screen and (max-width: 768px) {
    .hero__img-pic {
      width: 30rem; } }
  @media screen and (max-width: 480px) {
    .hero__img-pic {
      width: 23.75rem; } }

.section__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .section__title {
      text-align: center;
      margin-top: 20px; } }
  @media screen and (max-width: 480px) {
    .section__title {
      margin-top: 0;
      font-size: 3rem;
      line-height: 2.5rem; } }

.main__content-subtitle {
  font-family: 'Lifehack-Medium', Helvetica, sans-serif;
  font-size: 4.0625rem;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .main__content-subtitle {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .main__content-subtitle {
      margin-top: 0;
      font-size: 3rem;
      line-height: 2.5rem;
      letter-spacing: -0.125rem; } }

.main__text {
  padding-top: 7.8125rem;
  padding-left: 0.875rem; }
  @media screen and (max-width: 768px) {
    .main__text {
      padding-top: 0; } }

.arrow {
  text-align: center;
  display: block;
  margin-bottom: 2.8125rem; }
  @media screen and (max-width: 480px) {
    .arrow {
      display: none; } }

.arrow__link {
  display: block; }

.best {
  background: url("../img/bg/2_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.section__title--best {
  color: #2f3234;
  margin-top: -110px;
  margin-bottom: 67px; }
  @media screen and (max-width: 768px) {
    .section__title--best {
      margin-top: 100px;
      margin-bottom: 160px; } }
  @media screen and (max-width: 480px) {
    .section__title--best {
      margin-top: 40px;
      font-size: 50px;
      margin-bottom: 65px; } }

.best__container {
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .best__container {
      justify-content: flex-start; } }

.best__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .best__list {
      flex-wrap: wrap;
      padding-left: 10px; } }

.best__item {
  text-align: none;
  display: flex;
  flex-direction: column;
  width: 300px; }
  @media screen and (max-width: 480px) {
    .best__item {
      width: 460px;
      margin-bottom: 30px;
      flex-direction: row; } }

.best__img-block {
  height: 95px;
  min-width: 95px;
  margin-bottom: 30px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__img-block {
      margin-right: 20px;
      margin-bottom: 0; } }

.best__item-title {
  display: block;
  font-family: "Lifehack-Medium";
  font-size: 24.1px;
  color: #2f3234;
  margin-bottom: 20px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 5px; }
  @media screen and (max-width: 480px) {
    .best__item-title {
      text-align: left; } }

.best__description {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 24px;
  color: #6a6969;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__description {
      text-align: left; } }
  @media screen and (max-width: 480px) {
    .best__description {
      display: none; } }

.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background: url("../img/bg/3_slide_bg.jpg") no-repeat;
  background-size: cover;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .burgers {
      min-height: 1025px; } }
  @media screen and (max-width: 480px) {
    .burgers {
      min-height: 520px; } }

.burgers__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  position: relative; }
  @media screen and (max-width: 480px) {
    .burgers__container {
      flex-direction: column;
      justify-content: flex-start;
      max-width: 480px; } }

.arrow__burgers-prev {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(-50%, 50%) rotate(90deg); }
  @media screen and (max-width: 480px) {
    .arrow__burgers-prev {
      margin-right: -30px; } }

.arrow__burgers-next {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(100%, 50%) rotate(270deg); }
  @media screen and (max-width: 480px) {
    .arrow__burgers-next {
      margin-left: -30px; } }

.burgers__img {
  width: 100%; }
  @media screen and (max-width: 480px) {
    .burgers__img {
      width: 70%; } }

.burgers__column-left {
  text-align: center;
  position: relative;
  padding: 80px 0;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burgers__column-left {
      width: 80%;
      padding: 80px 0 0 0; } }
  @media screen and (max-width: 480px) {
    .burgers__column-left {
      width: 100%;
      max-width: 460px;
      text-align: center;
      padding: 80px 0 0 0; } }

.burgers__composition {
  position: absolute;
  display: flex;
  top: 0;
  left: 0; }

.burgers__product {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90px, 0);
  display: none;
  border-radius: 5px;
  background-color: white;
  opacity: 0.902;
  padding: 20px;
  font-size: 16px; }

.burgers__product-name {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  padding: 0 20px; }
  @media screen and (max-width: 480px) {
    .burgers__product-name {
      padding: 0; } }

.burgers__product-weight {
  text-align: right;
  padding-left: 20px;
  min-width: 70px; }
  @media screen and (max-width: 480px) {
    .burgers__product-weight {
      min-width: 65px;
      padding-left: 0; } }

.burgers__composition-batton {
  width: 90px;
  height: 90px;
  background-color: #f08c33;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px; }

.burgers__composition-title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 14px;
  color: white; }

.burgers__composition-img {
  width: 46px;
  height: 45px; }

.burgers__composition:hover .burgers__product {
  display: block; }

.burgers__composition:hover .burgers__composition-batton {
  background-color: #e35028; }

.burgers__kkal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 90px;
  opacity: 0.4;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px; }
  @media screen and (max-width: 768px) {
    .burgers__kkal {
      top: 0;
      right: 0;
      left: initial; } }

.burgers__kkal-title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: white; }

.burgers__kkal-amount {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 14px;
  margin-top: -30px;
  color: white; }

.burgers__kkal-img {
  width: 60px;
  height: 60px; }

.burgers__column-right {
  display: flex;
  flex-direction: column;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .burgers__column-right {
      align-items: center;
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .burgers__column-right {
      max-width: 460px; } }

.burgers__info {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .burgers__info {
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .burgers__info {
      max-width: 480px; } }

.burgers__title--burger {
  color: white;
  max-width: 380px;
  line-height: 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .burgers__title--burger {
      margin-bottom: 20px; } }
  @media screen and (max-width: 480px) {
    .burgers__title--burger {
      font-size: 40px; } }

.burgers__description {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: white;
  max-width: 470px;
  font-size: 14px;
  line-height: 24px; }
  @media screen and (max-width: 768px) {
    .burgers__description {
      max-width: 600px;
      text-align: center;
      margin-bottom: 20px; } }
  @media screen and (max-width: 480px) {
    .burgers__description {
      max-width: 440px;
      margin-bottom: 0; } }

.burgers__price {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 4.5rem;
  color: #e55e2c;
  margin-right: 10px; }
  @media screen and (max-width: 480px) {
    .burgers__price {
      font-size: 50px; } }

.burgers__currency {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 1.875rem;
  color: #e55e2c;
  margin-right: 20px; }

.burgers__order {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.burgers__list {
  display: inline-flex;
  white-space: nowrap;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 5%); }

.burgers__item {
  white-space: normal;
  display: inline-block;
  max-height: 960px; }

.burgers__wrapper {
  overflow: hidden;
  position: relative;
  width: 940px;
  height: 600px; }
  @media screen and (max-width: 768px) {
    .burgers__wrapper {
      justify-content: flex-start;
      width: 728px;
      height: 1000px; } }
  @media screen and (max-width: 480px) {
    .burgers__wrapper {
      max-width: 460px;
      height: 800px;
      font-size: 50px; } }
  .burgers__wrapper .burgers__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 940px;
    height: 500px; }
    @media screen and (max-width: 768px) {
      .burgers__wrapper .burgers__content {
        flex-direction: column;
        align-items: center;
        width: 700px;
        height: 1000px; } }
    @media screen and (max-width: 480px) {
      .burgers__wrapper .burgers__content {
        align-items: flex-start;
        max-width: 440px;
        height: 800px; } }

.team {
  background: url("../img/bg/4_slide_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 49%;
  background: #2f3234;
  filter: opacity(93%);
  padding-left: 5rem;
  display: flex;
  flex-direction: none;
  justify-content: flex-start;
  align-items: flex-start; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .team__container {
      padding-top: 52px; } }

.team__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      margin-top: 0;
      justify-content: center;
      align-items: center; } }

.team__title {
  font-family: "Gagalin-Regular";
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 4rem;
  color: #f9b43b;
  margin-bottom: 4.6875rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      margin-bottom: 123px; } }
  @media screen and (max-width: 480px) {
    .team__title {
      font-size: 3.125rem;
      margin-bottom: 3rem; } }

.accordion__container {
  display: none; }

@media screen and (max-width: 768px) {
  .accordion__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; } }

.accordion__item {
  margin-bottom: 1.25rem; }

.accordion__item.active .accordion__container {
  display: flex;
  padding-top: 0.625rem;
  padding-left: 0.9375rem;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .accordion__item.active .accordion__container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 360px;
      margin-bottom: 1.125rem; } }

.accordion__link {
  text-decoration: none;
  color: white; }

.accordion__item.active .accordion__link {
  color: #f9b43b; }

.accordion__item.active .accordion__title:before {
  transform: rotate(180deg); }

.accordion__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  color: white; }
  .accordion__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.3125rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: 0.625rem;
    display: inline-block; }
  @media screen and (max-width: 768px) {
    .accordion__title {
      font-size: 25px;
      line-height: 38px; } }

.accordion__photo-container {
  text-align: center;
  margin-right: 1.25rem; }

.accordion__photo {
  text-align: center;
  height: 100px;
  width: 100px; }
  @media screen and (max-width: 768px) {
    .accordion__photo {
      margin-right: 0; } }

.accordion__info {
  padding-top: 12px;
  max-width: 235px; }
  @media screen and (max-width: 768px) {
    .accordion__info {
      max-width: 370px; } }

.accordion__occupation {
  font-family: "Ubuntu-Bold";
  text-transform: none;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: white;
  margin-bottom: 15px; }

.accordion__text {
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 0.9375rem;
  color: #ebebeb; }

.menu {
  background: url("../img/bg/5_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.menu__container {
  display: flex;
  width: 100%;
  height: 100%; }

.menu__space {
  flex: 1; }

.section__title--menu {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  transform: translate(50%, 25%); }
  @media screen and (max-width: 768px) {
    .section__title--menu {
      transform: translate(10%, 70%); } }
  @media screen and (max-width: 480px) {
    .section__title--menu {
      transform: translate(50%, 70%);
      font-size: 50px; } }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch; }

.menu__subitle-meet {
  background: url("../img/content/meet.jpg") center center no-repeat;
  background-size: cover;
  min-width: 80px;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .menu__subitle-meet {
      min-width: 50px; } }

.menu__subitle-veget {
  background: url("../img/content/veget.jpg") center center no-repeat;
  background-size: cover;
  min-width: 80px;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .menu__subitle-veget {
      min-width: 50px; } }

.menu__subitle-diet {
  background: url("../img/content/diet.jpg") center center no-repeat;
  background-size: cover;
  min-width: 80px;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .menu__subitle-diet {
      min-width: 50px; } }

.menu__item {
  display: flex;
  flex-direction: row;
  position: relative; }
  .menu__item.active .menu__desc {
    display: block; }
  .menu__item.active .menu__link {
    color: #f9b43b; }

.menu__link {
  display: flex;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  transform: translate(-36%) rotate(-90deg);
  white-space: nowrap;
  z-index: 100;
  text-decoration: none;
  color: white; }
  @media screen and (max-width: 768px) {
    .menu__link {
      top: 80%; } }
  @media screen and (max-width: 480px) {
    .menu__link {
      top: 70%;
      font-size: 1.875rem; } }

.menu__desc {
  display: none;
  max-width: 33.75rem;
  background-color: #2f3234;
  opacity: 0.929; }

.menu__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  padding: 3.125rem 1.875rem;
  line-height: 24px;
  margin: 0; }

.reviews__list {
  width: 100%;
  height: 100%;
  min-width: 17.1875rem;
  min-height: 20.3125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap; }

.reviews__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%;
      text-align: center; } }
  .reviews__item:hover
  .reviews__content {
    display: block;
    transform: scale(1); }

.reviews__content {
  width: 100%;
  height: 100%;
  display: none;
  padding: 2rem 1.875rem 0 1rem;
  background-color: rgba(20, 20, 20, 0.7);
  transform: scale(0.4);
  transition: transform 2s; }

.reviews__block:hover .reviews__content {
  display: block; }

.reviews__title {
  font-family: "Gagalin-Regular";
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #ffffff;
  padding-bottom: 1.0625rem; }
  @media screen and (max-width: 480px) {
    .reviews__title {
      padding-bottom: 0;
      font-size: 1.5625rem;
      margin-bottom: 10px; } }

.reviews__text {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #dfdfdf;
  margin-bottom: 0.8125rem; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__button {
  display: inline-block;
  border-radius: 0.3125rem;
  padding: 0 0.9375rem;
  background-color: #2f3234;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-family: "Ubuntu";
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  outline: none; }

@media screen and (max-width: 480px) {
  .reviews__button-big {
    display: none; } }

.reviews__button-small {
  display: none; }
  @media screen and (max-width: 480px) {
    .reviews__button-small {
      display: inline-block; } }

.reviews__button:hover {
  background-color: #1f2122; }

.order {
  background: url("../img/bg/7_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

@media screen and (max-width: 768px) {
  .form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px 0; } }
@media screen and (max-width: 480px) {
  .form__container {
    padding-top: 20px; } }

.form {
  display: flex;
  color: white; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      max-width: 475px;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0rem; } }

.form__label {
  display: block;
  flex: 1; }

.form__label-title {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
  font-size: 0.875rem;
  padding: 0;
  margin-bottom: 0.3125rem;
  text-align: left; }

.form__input {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
  font-size: 0.875rem;
  background: white;
  border-radius: 0.4375rem;
  border: 0;
  padding: 0.625rem;
  border: 2px solid transparent; }
  .form__input:focus {
    border: 2px solid #f9b43b;
    outline: none; }

.section__title-order {
  margin-top: -6.25rem;
  margin-bottom: 4.0625rem; }
  @media screen and (max-width: 768px) {
    .section__title-order {
      margin-top: 0;
      margin-bottom: 4.6875rem; } }
  @media screen and (max-width: 480px) {
    .section__title-order {
      padding: 0;
      font-size: 2.3125rem;
      margin-bottom: 0.625rem; } }

.form__row {
  display: flex;
  margin-top: 0.875rem; }
  .form__row:first-child {
    margin-top: 0; }

.form__cell {
  display: block;
  flex: 1;
  margin-left: 1.25rem; }
  .form__cell:first-child {
    margin-left: 0; }

.form__column {
  width: 50%;
  padding: 0;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 100%;
      margin-bottom: 20px; } }

.form__textarea {
  resize: none;
  height: 6.25rem; }

.form__row-control {
  margin-top: 0.625rem; }
  @media screen and (max-width: 480px) {
    .form__row-control {
      justify-content: center; } }

.form__control {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin-bottom: 0.9375rem; }

.form__radio {
  display: inline-flex;
  align-items: center;
  margin-right: 0.9375rem; }

.form__radio-elem {
  display: none; }

.form__radio-fake {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer; }
  .form__radio-fake:after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    background: #c1401e;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(70%, 70%); }

@media screen and (max-width: 480px) {
  .none {
    display: none; } }

.form__radio-elem:checked + .form__radio-fake:after {
  display: block; }

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .form__checkbox {
      margin-bottom: 20px; } }

.form__control-text {
  display: block;
  font-size: 0.875rem;
  margin-left: 0.625rem; }

.form__checkbox-elem {
  display: none; }

.form__checkbox-fake {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer; }
  .form__checkbox-fake:after {
    display: none;
    content: "";
    width: 0.375rem;
    height: 0.625rem;
    border: 0.1875rem solid #2f3234;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(80%, 15%) rotate(45deg); }

.form__checkbox-elem:checked + .form__checkbox-fake:after {
  display: block;
  border-color: #c1401e; }

.form__buttons {
  display: inline-flex;
  align-items: baseline; }

.form_link-clear {
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  color: white;
  margin-left: 0.9375rem; }

.reset {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  margin-left: 20px; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover; }

.map {
  flex: 1;
  width: 100%;
  height: 100%; }

.footer {
  display: flex;
  justify-content: center;
  background: url("../img/content/footer.jpg") center center no-repeat;
  background-size: cover; }

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58.75rem;
  padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .footer__container {
      max-width: 768px; } }
  @media screen and (max-width: 480px) {
    .footer__container {
      width: 30rem;
      flex-direction: column; } }

.footer__adress {
  color: white;
  margin-bottom: 0.3125rem; }

.footer__contact {
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .footer__contact {
      padding-bottom: 0.3125rem; } }
  @media screen and (max-width: 480px) {
    .footer__contact {
      width: 30rem;
      text-align: center; } }

.footer__phone-link {
  color: #e45028;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 900;
  outline: none;
  text-decoration: none; }

.footer__phone-number {
  margin-left: 5px; }

.social__item {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px; }
  .social__item:hover .icon-social {
    opacity: 1; }
  .social__item:first-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .social__item {
      padding-left: 0.75rem; } }

.social__list {
  padding: 0.75rem; }
  @media screen and (max-width: 768px) {
    .social__list {
      padding: 0; } }

.social__link {
  display: inline-block; }

.social__icon {
  width: 20px;
  height: 20px; }

.scrol-nav__list {
  position: fixed;
  z-index: 1000;
  right: 50px;
  top: 98px; }
  @media screen and (max-width: 768px) {
    .scrol-nav__list {
      display: none; } }

.scrol-nav__link {
  display: block;
  border-radius: 50%;
  background-color: white;
  width: 6px;
  height: 6px;
  margin-bottom: 15px;
  color: white;
  position: relative; }

.scrol-nav__link:before {
  display: none;
  content: "";
  border: 1px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -80%;
  top: -80%; }

.scrol-nav__item.active .scrol-nav__link:before {
  display: block; }

.icon-arrow-scroll {
  width: 29px;
  height: 14px; }

.icon-beef {
  width: 44px;
  height: 39px; }

.icon-buns {
  width: 48px;
  height: 30px; }

.icon-burger {
  width: 46px;
  height: 45px; }

.icon-cheese {
  width: 38px;
  height: 34px; }

.icon-cucumber {
  width: 42px;
  height: 38px; }

.icon-drops {
  width: 300px;
  height: 160px; }

.icon-fb {
  width: 37px;
  height: 37px; }

.icon-hand {
  width: 73px;
  height: 86px; }

.icon-inst {
  width: 37px;
  height: 37px; }

.icon-kkal {
  width: 60px;
  height: 60px; }

.icon-logo {
  width: 98px;
  height: 74px; }

.icon-map-marker {
  width: 46px;
  height: 58px; }

.icon-meat {
  width: 96px;
  height: 89px; }

.icon-natural {
  width: 88px;
  height: 76px; }

.icon-phone {
  width: 11px;
  height: 11px; }

.icon-salad {
  width: 38px;
  height: 39px; }

.icon-sauce {
  width: 40px;
  height: 43px; }

.icon-twitter {
  width: 37px;
  height: 31px; }

.icon-vk {
  width: 126px;
  height: 72px; }

.icon-social {
  width: 30px;
  height: 30px;
  opacity: 0.5; }

.fullscreen-menu {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  padding-top: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 1025px;
  background-color: #2f3234;
  z-index: 200;
  opacity: 0.9; }
  @media screen and (max-width: 480px) {
    .fullscreen-menu {
      min-height: 540px; } }

.fullscreen-menu__link {
  display: block;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  position: relative;
  text-align: center; }
  .fullscreen-menu__link:hover {
    text-decoration: underline; }
  .fullscreen-menu__link:before {
    content: "";
    border-radius: 50%;
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: -75%; }

.fullscreen-menu__item {
  margin-bottom: 60px; }
  @media screen and (max-width: 480px) {
    .fullscreen-menu__item {
      margin-bottom: 40px; } }

.fullscreen-menu__item:first-child .fullscreen-menu__link:before {
  display: none; }

.close-btn {
  background: url("../img/icons/close-btn-grey.png") no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer; }

.active-menu {
  display: flex; }

.review-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.review-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #2f3234;
  z-index: 201;
  opacity: 0.9; }

.review-container {
  position: relative;
  max-width: 475px;
  min-height: 255px;
  border-radius: 10px;
  z-index: 500;
  background-color: #fff;
  padding: 25px 20px; }
  @media screen and (max-width: 768px) {
    .review-container {
      width: 460px; } }

.fullscreen-menu__item:first-child .fullscreen-menu__link:before {
  display: none; }

.close-btn {
  background: url("../img/icons/close-btn-grey.png") no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 7%;
  right: 5%;
  cursor: pointer; }

.active-reviews {
  display: flex; }

.reviews__title--modal {
  color: black; }

.reviews__text--modal {
  color: black;
  display: block; }

.close-btn-red {
  background: url("../img/icons/close-btn-red.png") no-repeat; }

/*# sourceMappingURL=main.css.map */
