.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background: url('../img/bg/3_slide_bg.jpg') no-repeat;
  background-size: cover;
  margin: 0;
  @include tablets {
    min-height: 1025px;
  }
  @include phones {
    min-height: 520px;
  }
}

.burgers__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  position: relative;
  @include phones {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 480px;
  }
}

.arrow__burgers-prev {
  position: absolute;
  top: 50%;
  left: 1%;;
  transform: translate(-50%, 50%) rotate(90deg);
  @include phones {
    margin-right: -30px;
  }
}

.arrow__burgers-next {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(100%, 50%) rotate(270deg);
  @include phones {
    margin-left: -30px;
  }

}

.burgers__img {
  width: 100%;
  @include phones {
    width: 70%;
  }
}

.burgers__column-left {
  text-align: center;
  position: relative;
  padding: 80px 0;
  width: 50%;
  @include tablets {
    width: 80%;
    padding: 80px 0 0 0;
  }
  @include phones {
    width: 100%;
    max-width: 460px;
    text-align: center;
    padding: 80px 0 0 0;
  }
}

.burgers__composition {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.burgers__product {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90px, 0);
  display: none;
  border-radius: 5px;
  background-color: white;
  opacity: 0.902;
  padding: 20px;
  font-size: 16px;
}

.burgers__product-name {
  @include ubuntu(bold);
  padding: 0 20px;
  @include phones {
    padding: 0;
  }
}

.burgers__product-weight {
  text-align: right;
  padding-left: 20px;
  min-width: 70px;
  @include phones {
    min-width: 65px;
    padding-left: 0;
  }
}

.burgers__composition-batton {
  width: 90px;
  height: 90px;
  background-color: #f08c33;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}

.burgers__composition-title {
  @include gagalin();
  font-size: 14px;
  color: white;
}

.burgers__composition-img {
  width: 46px;
  height: 45px;
}

.burgers__composition:hover .burgers__product {
  display: block;
}

.burgers__composition:hover .burgers__composition-batton {
  background-color: #e35028;;
}

.burgers__kkal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 90px;
  opacity: 0.4;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  @include tablets {
    top: 0;
    right: 0;
    left: initial;
  }

}

.burgers__kkal-title {
  @include gagalin();
  font-size: 14px;
  margin-top: 10px;
  color: white;
}

.burgers__kkal-amount {
  @include gagalin();
  font-size: 14px;
  margin-top: -30px;
  color: white;
}

.burgers__kkal-img {
  width: 60px;
  height: 60px;
}

.burgers__column-right {

  display: flex;
  flex-direction: column;
  width: 50%;
  @include tablets {
    align-items: center;
    width: 80%;
  }
  @include phones {
    max-width: 460px;
  }

}

.burgers__info {
  display: flex;
  flex-direction: column;
  @include tablets {
    align-items: center;
  }
  @include phones {
    max-width: 480px;
  }

}

.burgers__title--burger {
  color: white;
  max-width: 380px;
  line-height: 40px;
  margin-bottom: 40px;
  @include tablets {
    margin-bottom: 20px;
  }
  @include phones {
    font-size: 40px;
  }
}

.burgers__description {
  @include ubuntu();
  color: white;
  max-width: 470px;
  font-size: 14px;
  line-height: 24px;
  @include tablets {
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
  }
  @include phones {
    max-width: 440px;
    margin-bottom: 0;
  }
}

.burgers__price {
  @include gagalin();
  font-size: rem(72px);
  color: #e55e2c;
  margin-right: 10px;
  @include phones {
    font-size: 50px;
  }
}

.burgers__currency {
  @include gagalin();
  font-size: rem(30px);
  color: #e55e2c;
  margin-right: 20px;

}

.burgers__order {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.burgers__list {
  display: inline-flex;
  white-space: nowrap;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 5%);
}

.burgers__item {
  white-space: normal;
  display: inline-block;
  max-height: 960px;

}

.burgers__wrapper {
  overflow: hidden;
  position: relative;
  width: 940px;
  height: 600px;
  @include tablets {
    justify-content: flex-start;
    width: 728px;
    height: 1000px;
  }
  @include phones {
    max-width: 460px;
    height: 800px;
    font-size: 50px;
  }

  .burgers__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 940px;
    height: 500px;
    @include tablets {
      flex-direction: column;
      align-items: center;
      width: 700px;
      height: 1000px;
    }
    @include phones {
      align-items: flex-start;
      max-width: 440px;
      height: 800px;
    }
  }
}