.reviews__list {
  width: 100%;
  height: 100%;
  min-width: rem(275px);
  min-height: rem(325px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
}

.reviews__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 50%;
  @include tablets {
    width: 50%;
    height: 25%;
    text-align: center;
  }
  &:hover
  .reviews__content {
    display: block;
    transform: scale(1);
  }
}

.reviews__content {
  width: 100%;
  height: 100%;
  display: none;
  padding: rem(32px) rem(30px) 0 rem(16px);
  background-color: rgba(20, 20, 20, 0.7);
  transform: scale(.4);
  transition: transform 2s;
}

.reviews__block:hover .reviews__content {
  display: block;
}

.reviews__title {
  font-family: "Gagalin-Regular";
  text-transform: uppercase;
  font-size: rem(14px);
  line-height: rem(28px);
  color: #ffffff;
  padding-bottom: rem(17px);
  @include phones {
    padding-bottom: 0;
    font-size: rem(25px);
    margin-bottom: 10px;
  }
}

.reviews__text {
  font-family: "Ubuntu";
  font-size: rem(14px);
  line-height: rem(24px);
  color: #dfdfdf;
  margin-bottom: rem(13px);
  @include phones {
    display: none;
  }
}

.reviews__button {
  display: inline-block;
  border-radius: rem(5px);
  padding: 0 rem(15px);
  background-color: #2f3234;
  font-size: rem(13px);
  line-height: rem(30px);
  text-transform: uppercase;
  font-family: "Ubuntu";
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  outline: none;
}

.reviews__button-big {
  @include phones {
    display: none;
  }
}

.reviews__button-small {
  display: none;
  @include phones {
    display: inline-block;
  }
}

.reviews__button:hover {
  background-color: #1f2122;
}