.team {
    background: url('../img/bg/4_slide_bg.jpg') center center no-repeat; 
    background-size: cover; 
    position: relative;
}
.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 49%;
    background: #2f3234;
    filter: opacity(93%);
    padding-left: rem(80px);
    display: flex;
    flex-direction: none;
    justify-content: flex-start;
    align-items: flex-start;
    @include tablets {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
           @include phones {
    padding-top: 52px;
    }
    
}
}
.team__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: rem(70px);
    @include tablets {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    
    }
}
.team__title {
    font-family: "Gagalin-Regular";
    text-transform: uppercase;
    font-size: rem(72px);
    line-height: rem(64px);
    color: #f9b43b;
    margin-bottom: rem(75px);
    @include tablets {
                margin-bottom: 123px;
       }
    @include phones {
    font-size: rem(50px);
    margin-bottom: rem(48px);
    }
}
.accordion__container {
    display: none;
}
.accordion__list {
    @include tablets {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}
.accordion__item {
    margin-bottom: rem(20px);
}
.accordion__item.active .accordion__container{
    display: flex;
    padding-top: rem(10px);
    padding-left: rem(15px);
    margin-bottom: rem(35px);
           @include tablets {
        flex-direction: column;   
        justify-content: center;
        text-align: center;
        width: 360px;
            margin-bottom: rem(18px);;
        }
}
.accordion__link {
    text-decoration: none;
    color: white;
}
.accordion__item.active .accordion__link {
    color: $yellow;
}
.accordion__item.active .accordion__title:before {
    transform: rotate(180deg);
}
.accordion__title {
    @include gagalin();
    text-transform: uppercase;
    font-size: rem(13px);
    line-height: rem(28px);
    color: white;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border: rem(5px) solid transparent;
        border-top-color: $yellow;
        border-bottom: none;
        margin-right: rem(10px);     
        display: inline-block;
    }
       @include tablets {
            font-size: 25px;
            line-height: 38px;

       }
}
.accordion__photo-container {
        text-align: center;
            margin-right: rem(20px);
}
.accordion__photo {
    text-align: center;
    height: 100px;
    width: 100px;
        @include tablets {
         margin-right: 0;
        }
}
.accordion__info {
    padding-top: 12px;
    max-width: 235px;
    @include tablets {
    max-width: 370px;
        }
}
.accordion__occupation {
    font-family: "Ubuntu-Bold";
    text-transform: none;
    font-size: rem(15px);
    line-height: rem(24px);
    color: white;
    margin-bottom: 15px;
}
.accordion__text {
    font-family: "Ubuntu";
    text-transform: none;
    font-size: rem(15px);
    color: #ebebeb;
}
