.wrapper {

  width: 100%;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  height: 100%;
}

.maincontent {
  height: 100%;
  transition: transform;
  will-change: transform;
  -webkit-transition-duration: 1s; 
  transition-duration: 1s;
         @include tablets {
  min-height: 1025px;
}       @include phones {
   min-height: 520px;
    }
}

.container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 940px;
    width: 92%;
     @include tablets {
   max-width: 768px;
    }
       @include phones {
   max-width: 480px;
    }
}

.section {
  min-height: 650px;
  height: 100%;
       @include tablets {
  min-height: 1025px;
}       @include phones {
   min-height: 520px;
    }
}

.order-link {
  min-width: rem(98px);
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: darken($orange, 7%);
  }
  &:focus { outline: none; }
}