html {
  @include tablets {
    font-size: 15px;
  }
    @include phones {
    font-size: 15px;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: $dark;
}

*, *::before, *::after { 
  box-sizing: border-box; 
}

body, html {
  height: 100%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: rem(1px);
  height: rem(1px);
  margin: rem(1px);
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}